#expiration-container {
  height: 60px;
  max-height: 60px;
  position: fixed;
  z-index: 5;
}
#expiration-dates {
  height: 52px;
  max-height: 60px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  z-index: 5;
  background: #a6a6bd;
}
#expiration-dates::-webkit-scrollbar {
  display: none;
}
.date {
  display: inline-block;
  margin: 6px 12px;
  padding: 10px;
  /* background-color: #555; */
  opacity: 0.97;
  font-size: 16px;
  font-weight: 100;
  /* color: white; */
  color: #4e4e9d;
  cursor: pointer;
  transition: .2s;
  /* border-right: 1px solid #777; */
  border-radius: 4px;
}
.date.selected {
  background-color: #4e4e9d;
  color: #eee;
}
.date:hover {
  background-color: #3d3d74;
  color: #a6a6bd;
}
.date.selected:hover {
  background-color: #3d3d74;
  color: #c6c6c6;
}
#options-content {
  padding-top: 64px;
}
#options {
  border-collapse: collapse;
}
#current-price-marker {
  height: 30px;
  background: #eee;
  cursor: auto !important;
}
#current-price-marker p {
  height: 30px;
  position: relative;
  top: 6px;
  color: #333;
  width: 100%;
  text-align: center;
}
.option-item {
  max-height: 80px;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #aaa !important;
  transition: .2s;
  cursor: pointer !important;
}
.option-item:not(#current-price-marker):hover {
  background: #eee;
  opacity: 1 !important;
  transform: scale(1.01) !important;
}
.option-item:hover .price-info {
  border-right-color: #f00; /* TODO */
}
.option-item > * {
  height: 80px;
  float: left;
}
.option-item .strike-info {
  width: calc(100% - 102px);
  position: relative;
  top: 22px;
}
.option-item .strike-info .strike {
  font-size: 20px;
  color: #333;
  font-size: 20px;
  white-space: nowrap;
  max-width: 80%;
  overflow: hidden;
  height: 30px;
}
.option-item .strike-info .option-type {
  font-size: 12px;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #aaa;
}
.option-item .premium-info {
  width: 100px;
  color: #fff;
  background-color: #eee;
  font-size: 20px;
  padding-right: 2px;
  transition: .2s;
  overflow: hidden;
  text-align: center;
}
.option-item .premium-info p {
  margin-top: 32px;
}