<!DOCTYPE html>
<html>
<head>
  <title>ETH</title>
  <script src="/static/front-end-js/metamask.js"></script>
  <script src="https://unpkg.com/ipfs-api@9.0.0/dist/index.js"
  integrity="sha384-5bXRcW9kyxxnSMbOoHzraqa7Z0PQWIao+cgeg327zit1hz5LZCEbIMx/LWKPReuB"
  crossorigin="anonymous"></script>
  <script src="/static/front-end-js/lib/ejs.min.js"></script>
  <script src="/static/front-end-js/lib/jquery-3.3.1.min.js"></script>
  <script src="/static/front-end-js/cookies.js"></script>
  <script src="/static/front-end-js/delete-option-contract.js"></script>
  <script src="/static/front-end-js/exercise-option.js"></script>
  <script src="/static/front-end-js/dashboard.js"></script>
  <script src="/static/front-end-js/eth-price.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/shared.css">
  <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
  <script>
    const OptionContractABI = JSON.parse('<%= optionContractABI %>'.replace(/&#34;/g, "\"").slice(1, -1));
  </script>
</head>

<body>
  <% include ./partials/popup %>
  <% include ./partials/header %>

  <div id="page">
    <div class="container">
      <div class="content">
        <h1 id="eth-price-usd"></h1>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <h2>Active orders</h2>
        <div id="active-orders">
        </div>
        <h2 id="pending-orders-header">Pending orders</h2>
        <div id="pending-orders">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
