<!DOCTYPE html>
<html>
<head>
  <title>ETH</title>
  <script src="/static/front-end-js/metamask.js"></script>
  <script src="https://unpkg.com/ipfs-api@9.0.0/dist/index.js"
  integrity="sha384-5bXRcW9kyxxnSMbOoHzraqa7Z0PQWIao+cgeg327zit1hz5LZCEbIMx/LWKPReuB"
  crossorigin="anonymous"></script>
  <script src="/static/front-end-js/jquery-3.3.1.min.js"></script>
  <script>
  const OptionContractABI = JSON.parse('<%= optionContractABI %>'.replace(/&#34;/g, "\"").slice(1, -1));
  const OptionContractBinary = decodeURIComponent('<%= optionContractBinary %>');
</script>

  <link rel="stylesheet" type="text/css" href="/static/css/shared.css">
  <script src="/static/front-end-js/option-smart-contract-interface.js"></script>
  <script src="/static/front-end-js/create-option.js"></script>
</head>

<body>
  <div id="header">
    <span id="title">eth</span>
  </div>
  <div id="page">
    <div class="container">
      <div class="content">
        <h1>Hello, <%= user %>!</h1>
        <h1>Print current ETH price here maybe?</h1>

        <p>
          Home:
          Create Option Contract Here:
        </p>
        <div class="createOptionRow">
          <div id="maturiy">2019:01:01</div>
          <div id="ETHStrikePrice">$1000</div>
          <div id="premiumPrice">$10</div>
          <div id="offerExpiry">2018:08:02</div>
          <div id="numberETH">3</div>
          <button id="createOptionOffer">Create Bid</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
