<!DOCTYPE html>
<html>
<head>
  <title>ETH</title>
  <script src="/static/front-end-js/metamask.js"></script>
  <script src="https://unpkg.com/ipfs-api@9.0.0/dist/index.js"
  integrity="sha384-5bXRcW9kyxxnSMbOoHzraqa7Z0PQWIao+cgeg327zit1hz5LZCEbIMx/LWKPReuB"
  crossorigin="anonymous"></script>
  <script src="/static/front-end-js/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/shared.css">
  <script src="/static/front-end-js/create-option.js"></script>
  <script src="/static/front-end-js/dashboard.js"></script>
  <script>
    const TradingAccountABI = JSON.parse('<%= tradingAccountABI %>'.replace(/&#34;/g, "\"").slice(1, -1));
    // TODO(eforde): only include this if no trading account for current user
    const TradingAccountBinary = decodeURIComponent('<%= tradingAccountBinary %>');
  </script>
</head>

<body>
  <div id="header">
    <span id="title">eth</span>
  </div>
  <div id="page">
    <div class="container">
      <div class="content">
        <h1>Hello, <%= user %>!</h1>
        <h1>Print current ETH price here maybe?</h1>

        <p>Create your trading account:</p>
        <span id="make-account" class="btn" style="font-size: 24px;">make a new trading account</span>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <p>
          Home:
          Create Option Contract Here:
        </p>
        <div class="createOptionRow">
          <div id="maturiy">2019:01:01</div>
          <div id="ETHStrikePrice">$1000</div>
          <div id="premiumPrice">$10</div>
          <div id="offerExpiry">2018:08:02</div>
          <div id="numberETH">3</div>
          <button id="createOptionOffer">Create Bid</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
