<!DOCTYPE html>
<html>
<head>
  <title>ETH</title>
  <script src="/static/front-end-js/metamask.js"></script>
  <script src="https://unpkg.com/ipfs-api@9.0.0/dist/index.js"
  integrity="sha384-5bXRcW9kyxxnSMbOoHzraqa7Z0PQWIao+cgeg327zit1hz5LZCEbIMx/LWKPReuB"
  crossorigin="anonymous"></script>
  <script src="/static/front-end-js/jquery-3.3.1.min.js"></script>
  <script>
  const OptionContractABI = JSON.parse('<%= optionContractABI %>'.replace(/&#34;/g, "\"").slice(1, -1));
  const OptionContractBinary = decodeURIComponent('<%= optionContractBinary %>');
  const testOptionObj = {"underlyingAmount":1000000000000000000,"maturityDate":100,"ETHStrikePrice":2,"premiumPrice":0.1,"optionCreatorAddress":"0x3ce56307bb3dde4d831170b40f9148b934a778e9","optionCreatorType":true,"optionType":false,"active":false, "contractAddress": "0xc4563fdd3e7dc5d7e0d0277f586cc1fb8d3b5d83"};
  //TODO(moezinia) const unfulfilledOptions = loaded in with ejs. then iterate through array and render...
</script>

  <link rel="stylesheet" type="text/css" href="/static/css/shared.css">
  <script src="/static/front-end-js/create-option.js"></script>
  <script src="/static/front-end-js/activate-option-contract.js"></script>
</head>

<body>
  <div id="header">
    <span id="title">eth</span>
  </div>
  <div id="page">
    <div class="container">
      <div class="content">
        <h1>Hello, <%= user %>!</h1>
        <h1>Print current ETH price here maybe?</h1>

        <p>
          Home:
          Create Option Contract Here:
        </p>
        <div class="createOptionRow">
          <div id="maturiy">2019:01:01</div>
          <div id="ETHStrikePrice">$1000</div>
          <div id="premiumPrice">$10</div>
          <div id="offerExpiry">2018:08:02</div>
          <div id="numberETH">3</div>
          <button id="createOptionOffer">Create Bid</button>
        </div>

        <div class="acceptOptionRow">
          <div id="optionObject">option info rendered here</div>
          <button id="acceptOptionOffer">Accept Bid</button>
        </div>



      </div>
    </div>
  </div>
</body>
</html>
