<!DOCTYPE html>
<html>
<head>
  <title>ETH</title>
  <script src="/static/front-end-js/metamask.js"></script>
  <script src="/static/front-end-js/lib/jquery-3.3.1.min.js"></script>
  <script src="/static/front-end-js/lib/ScrollMagic.min.js"></script>
  <script src="/static/front-end-js/lib/animation.velocity.min.js"></script>
  <script src="/static/front-end-js/lib/animation.gsap.min.js"></script>
  <script src="/static/front-end-js/lib/jQuery.ScrollMagic.min.js"></script>
  <script src="/static/front-end-js/lib/TweenMax.min.js"></script>
  <script src="/static/front-end-js/lib/ejs.min.js"></script>
  <script src="/static/front-end-js/exchange.js"></script>
  <script src="/static/front-end-js/order-book.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/shared.css">
  <link rel="stylesheet" type="text/css" href="/static/css/exchange.css">
  <script>
  const OrderBookABI = JSON.parse('<%= orderBookABI %>'.replace(/&#34;/g, "\"").slice(1, -1));
  const OrderBookBinary = decodeURIComponent('<%= orderBookBinary %>');
  </script>
</head>
<body>
  <% include ./partials/header %>

  <div id="page">
    <div id="expiration-container" class="container">
      <div id="expiration-dates">
        <div class="date selected">5/12/18</div><div class="date">5/19/18</div><div class="date">5/12/18</div><div class="date">5/12/18</div><div class="date">5/12/18</div><div class="date">5/12/18</div><div class="date">5/12/18</div><div class="date">5/12/18</div><div class="date">5/12/18</div><div class="date">5/12/18</div><div class="date">5/19/18</div><div class="date">5/12/18</div><div class="date">5/12/18</div><div class="date">5/12/18</div><div class="date">5/12/18</div><div class="date">5/12/18</div><div class="date">5/12/18</div><div class="date">5/12/18</div>
      </div>
    </div>
    <!-- TODO(eforde): add bid/ask to each option-item -->
    <div class="container">
      <div id="options-content" class="content">
        <div id="options">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
