<!DOCTYPE html>
<html>
<head>
  <title>ETH</title>
  <script src="/static/front-end-js/lib/jquery-3.3.1.min.js"></script>
  <script src="/static/front-end-js/metamask.js"></script>
  <script src="/static/front-end-js/login.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/shared.css">
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>

<body>
  <% include ./partials/header %>

  <div id="page">
    <div id="container">
      <div id="content">
        <span id="welcome">welcome.</span>
        <span id="login">LOG IN</span>
      </div>
    </div>
  </div>
</body>
</html>
