<% if(typeof inputname != "string" || !inputname) { inputname = false; } %>
<style>
#popup-dimmer {
  width: 100%;
  height: 100%;
  background: transparent;
  visibility: collapse;
  position: fixed;
  top: 0;
  z-index: 12;
  transition: .2s;
}
#popup-dimmer.shown {
  background: rgba(0, 0, 0, 0.7);
  visibility: visible;
}
#popup {
  width: 500px;
  position: fixed;
  left: calc(50vw - 250px);
  padding-top: 12px;
  background-color: #fff;
  border-radius: 3px;
  text-align: center;
  list-style-type: none;
  opacity: 0;
  top: calc(40% - 100px);
  transition: all .2s, height 0s;
  text-align: left;
}
#popup-dimmer.shown #popup {
  top: calc(45% - 100px);
  opacity: 1;
}
#popup #header {
  font-weight: 300;
  font-size: 34px;
  margin: 0;
  text-align: center;
}
#popup #message-container {
  margin: 18px 12px;
}
#popup #message {
  color: #555;
  user-select: text;
}
#popup input {
  border: 0;
  width: calc(100% - 24px);
  font-size: 18px;
  padding: 12px 0px;
  margin: 0 12px 4px 12px;
  border-bottom: solid 1px;
  border-bottom-color: #e5e5e5;
  background: rgba(255, 255, 255, 0.95);
  transition: .2s all;
}
#popup input:focus {
  outline: none;
  border-bottom-color: #4e4e9d;
}
#popup input.invalid {
  border-bottom-color: red;
}
#buttons {
  width: 100%;
  position: absolute;
  bottom: 0;
}
#buttons p {
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 50%;
  float: left;
  font-weight: 100;
  transition: .2s;
  color: white;
  cursor: pointer;
  transform-origin: 0 100%;
  text-align: center;
}
#cancel-button {
  background-color: #ccc;
}
#cancel-button:hover {
  transform: scaleY(1.02);
  background-color: #bbb;
}
#confirm-button {
  background-color: #4e4e9d;
}
#confirm-button:hover {
  transform: scaleY(1.02);
  background-color: #48488f;
}
</style>

<div id="popup-dimmer">
    <div id="popup">
        <h1 id="header">header</h1>
        <div id="message-container">
          <span id="message">message</span>
        </div>
        <input name="input" id="popup-input" type="text" placeholder="inputname" />
        <div id="buttons">
            <p id="cancel-button">cancel</p>
            <p id="confirm-button">confirm</p>
        </div>
    </div>
</div>

<script>
var popup_callback;
var validate_input;

function showPopup(header, msg, inputname, _validate_input, _popup_callback, height) {
  validate_input = _validate_input;
  popup_callback = _popup_callback;
  $("#header").text(header);
  $("#message").text(msg);
  if (inputname) {
    $("#popup-input").css("visibility", "visible");
    $("#popup-input").css("display", "block");
    $("#popup").css("height", "280px");
    $("#popup-input").attr("placeholder", inputname);
    $("#popup-input").val("");
    $("#popup-input").removeClass("invalid");
  }
  else {
    $("#popup-input").css("visibility", "collapse");
    $("#popup-input").css("display", "none");
    $("#popup").css("height", "150px");
  }
  if (height) {
    $("#popup").css("height", height + "px");
  }
  $('#popup-dimmer').addClass('shown');
  $("#popup-input").focus();
}

$("#popup-input").keyup(function(e){
  if (e.which == 13)
      $("#confirm-button").click();
});

$("#confirm-button").click(function() {
  if ($("#popup-input").css("display") === "block") {
    let input = $("#popup-input").val().trim();
    valid_input = validate_input && validate_input(input);
    if (input == "" || !valid_input) {
      $("#popup-input").addClass("invalid");
      return;
    }
    $("#popup-dimmer").removeClass("shown");
    popup_callback({success: true, input});
    return;
  }
  $("#popup-dimmer").removeClass("shown");
  popup_callback({success: true});
});

$("#popup-dimmer, #cancel-button").click(function(e) {
	if (e.target !== this)
		return;
	$("#popup-dimmer").removeClass("shown");
  popup_callback({success: false});
});
</script>