


<% if (typeof currentPrice != "number" || !currentPrice) { currentPrice = false; } %>
<% if (!currentPrice) { %>
<div class="option-item" data-strike="<%=strike%>">
  <div class="strike-info">
    <p class="strike">$<%= strike %> strike</p>
    <p class="option-type">call</p>
  </div>
  <div class="premium-info">
    <p>$<%= premium.toFixed(2) %></p>
  </div>
</div>
<% } else { %>
<div id="current-price-marker" class="option-item">
  <p>current price: $<%= currentPrice %></p>
</div>
<% } %>


plan:
in-the-money is red button. becomes green and clickable when option in the money
and user is buyer (true)
if option isactive - place here.

<div class="user-option" in-the-money="">
<p class="trader-type"> (if user == optionBuyer => buyer vs seller)</p>
<!-- <p class="counter-party-address">if need be...</p> -->
<p class="strike-price"> </p>
<p class="premium-type"> </p>
<p class="maturity-time"> </p>
<p class="smart-contract-address"><% smartContractAddress %></p> just to store, not display text.
</div>

else Inactive

<div class="user-option">
<p class="trader-type"> (optoinCreatorType => buyer vs seller)</p>
<p class="strike-price"> </p>
<p class="premium-type"> </p>
<p class="maturity-time"> </p>
<p class="cancellation-time"> </p>
<p class="smart-contract-address"><% smartContractAddress %></p> just to store, not display text.
</div>



<!--TODO, need to display everything in the option....  -->
curOption parameters:
isActive
optionBuyer
optionSeller
inTheMoney
optionType
optionCreatorType
strikePriceUSD
premiumAmount
cancellationTime
maturityTime
scAddress
