<div class="notify-popup shadow" <% if (untilNext) { %> data-until-next="true" <% } %>>
    <p class="notify-popup-header"><%- header %></p>
    <p class="notify-popup-message"><%- message %></p>
</div>