<% if (typeof currentPrice != "number" || !currentPrice) { currentPrice = false; } %>
<% if (!currentPrice) { %>
<div class="option-item" data-strike="<%=strike%>">
  <div class="strike-info">
    <p class="strike">$<%= strike %> strike</p>
    <p class="option-type">call</p>
  </div>
  <div class="premium-info">
    <p>$<%= premium.toFixed(2) %></p>
  </div>
</div>
<% } else { %>
<div id="current-price-marker" class="option-item">
  <p>current price: $<%= currentPrice %></p>
</div>
<% } %>




<!--TODO, need to display everything in the option....  -->
